*{
margin: 0;
background-color: black;
font-family: Arial, Helvetica, sans-serif;    
}
.heading {
    font-size: 70px;
    color: white;
}
td {
color: white;
text-align: center;
width: 5px;
border: 1px; 
font-weight: 700;
size: 12px;  
}
.none{
border: none;    
}
.color1{
background-color: aquamarine;
}
.color2{
background-color: blueviolet;       
}
.color3{
background-color: blanchedalmond;    
}
.color4{
    background-color: burlywood;
}
.color5{
background-color: cadetblue;     
}
.color6{
background-color: chocolate;    
}
.color7{
background-color: aquamarine;  
}
.color8{
background-color: cornflowerblue;
}
.color9{
background-color: brown;    
}
.color10{
background-color: red 
}
.color11{
    background-color: bisque;
}